* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 230px;
}

.logo {
    display: table-cell;
}

.logo > img {
    height: 180px;
    width: 318px;
    vertical-align: middle;
    margin-left: 50px;
}

.c1 {
    display: table-cell;
    text-align: right;
    padding-left: 40px;
}

.c1 > h4 {
    font-size: 28px;
    font-family: "Inter regular", sans-serif;
}

.c2 {
    display: table-cell;
    text-align: center;
    padding-left: 35px;
}

.c2 > h4 {
    font-size: 28px;
    font-family: "Inter regular", sans-serif;
}

.c3 {
    display: table-cell;
    text-align: center;
}

.c3 > h4 {
    font-size: 28px;
    font-family: "Inter regular", sans-serif;
}

.c4 {
    display: table-cell;
    text-align: center;
}

.c4 > img {
    height: 50px;
    width: 50px;
}

.c4 > a > img {
    height: 50px;
    width: 50px;
}

.c4 > h4 {
    font-size: 28px;
    font-family: "Inter regular", sans-serif;
}

.upper-part1 {
    height: 660px;
    width: auto;
    background-image: url("./images/coverone.webp");
    background-size: 100% 100%;
}

.arrow-up > button{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FB6E97;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
}

.upper-part1 > h2 {
    font-size: 85px;
    text-align: left;
    margin-left: 150px;
    font-family: "Inter Semi Bold", sans-serif;
}

.upper-part1 > h3 {
    margin-left: 150px;
    font-family: "Inter regular", sans-serif;
    font-size: 35px;
}

.upper-part2 {
    width: auto;
    height: 200px;
}

.upper-part2 > h3 {
    text-align: center;
    font-family: "Inter regular", sans-serif;
    font-size: 35px;
    padding: 50px;
}

.middle-part-connector {
    width: auto;
    height: 350px;
    background: black;
    padding: 150px;
}

.middle-part-connector > h1 {
    font-size: 60px;
    text-align: center;
}

.middle-part1 {
    height: 600px;
    padding: 50px;
    display: table;
    table-layout: fixed;
    background: black;
    border-spacing: 10px;
    border: 1em solid black;
    width: auto;
}

.middle-part1-left {
    padding: 25px;
    display: table-cell;
    text-align: center;
    background: white;
    height: 400px;
    width: 33.3%;
    font-family: "Inter regular", sans-serif;
    border-left: 1em solid black;
    border-right: 1em solid black;
    border-radius: 10%;
}

.middle-part1-left > img {
    height: 250px;
    width: 250px;
}

.middle-part1-left > h3 {
    font-size: 30px;
}

.middle-part1-left > h4 {
    font-size: 28px;
}

.middle-part1-center {
    padding: 25px;
    display: table-cell;
    text-align: center;
    background: white;
    height: 400px;
    width: 33.4%;
    font-family: "Inter regular", sans-serif;
    border-left: 1em solid black;
    border-right: 1em solid black;
    border-radius: 10%;
}

.middle-part1-center > img {
    height: 250px;
    width: 300px;
}

.middle-part1-center > h3 {
    font-size: 30px;
}

.middle-part1-center > h4 {
    font-size: 28px;
}

.middle-part1-right {
    padding: 25px;
    display: table-cell;
    text-align: center;
    background: white;
    height: 400px;
    width: 33.3%;
    font-family: "Inter regular", sans-serif;
    border-left: 1em solid black;
    border-right: 1em solid black;
    border-radius: 10%;
}

.middle-part1-right > img {
    height: 250px;
    width: 250px;
}

.middle-part1-right > h3 {
    font-size: 30px;
}

.middle-part1-right > h4 {
    font-size: 28px;
}

.middle-part-connector2 {
    width: auto;
    padding: 100px;
    text-align: center;
    color: white;
    background: black;
    font-family: "Inter regular", sans-serif;
    font-size: 30px;
}

.middle-part2-top {
    width: auto;
    margin-top: 100px;
    height: 820px;
    background-image: url("./images/covertwo.webp");
    background-size: 100% 100%;
}

.pink {
    background: #FB6E97;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.middle-part2-top > h2 {
    padding-top: 100px;
    text-align: center;
    font-family: "Inter Semi Bold", sans-serif;
    font-size: 50px;
}

.middle-part2-top > h3 {
    padding-top: 25px;
    margin-left: 100px;
    font-family: "Inter medium", sans-serif;
    font-size: 35px;
}

.middle-part2-top > h4 {
    margin-left: 100px;
    font-family: "Inter regular", sans-serif;
    font-size: 30px;
}

.middle-part2-bottom {
    width: auto;
    margin-top: 100px;
    height: 820px;
    background-image: url("./images/coverthree.webp");
    text-align: right;
    background-size: 100% 100%;
}

.yellow {
    background: #FAA111;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.middle-part2-bottom > h2 {
    padding-top: 100px;
    text-align: center;
    font-family: "Inter Semi Bold", sans-serif;
    font-size: 50px;
}

.middle-part2-bottom > h3 {
    padding-top: 25px;
    margin-right: 100px;
    font-family: "Inter medium", sans-serif;
    font-size: 35px;
}

.middle-part2-bottom > h4 {
    margin-right: 100px;
    font-family: "Inter regular", sans-serif;
    font-size: 30px;
}

.FAQ {
    width: auto;
    margin-top: 100px;
    height: 1100px;
    background: black;
}

.faqname {
    height: 200px;
    padding-top: 100px;
}

.faqname > h2 {
    text-align: center;
    color: #FAA111;
    font-family: "Inter Semi Bold", sans-serif;
    font-size: 40px;
}

.wrapper {
    width: 80%;
    margin:0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    background: black;
    border-radius: 60px;
    font-family: "Inter Semi Bold", sans-serif;
}

.accordion{
    width: 100%;
    border-radius: 50px;
    font-family: "Inter Semi Bold", sans-serif;
}

.item {
    padding: 20px;
    border: 1em solid black;
    border-radius: 100px;
    background: white;
    font-family: "Inter Semi Bold", sans-serif;
}

.title {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;
    font-family: "Inter Semi Bold", sans-serif;
    font-size: 30px;
    border-radius: 60px;
    background: white;
}

.title > span {
    float: right;
    border-radius: 100px;
    font-family: "Inter Semi Bold", sans-serif;
    color: #FB6E97;
}

.content {
    max-height: 0;
    overflow: hidden;
    align-items: center;
    text-align: center;
    font-family: "Inter Semi Bold", sans-serif;
    font-size: 26px;
    border-radius: 60px;
}

.content-show {
    height: auto;
    max-height: 9999px;
    text-align: center;
    font-family: "Inter Semi Bold", sans-serif;
    font-size: 26px;
    border-radius: 60px;
}

.footer-developed {
    background: #FAA111;
    display: table;
    width: 100%;
}

.footer-left{
    display: table-cell;
    width: 50%;
}

.footer-logo > img{
    height: 200px;
    width: 200px;
    margin-left: 160px;
}

.footer-icon {
    margin-left: 200px;
}

.footer-icon > h3 {
    font-family: "Inter Semi Bold", sans-serif;
    font-size: 26px;
}

.footer-icon > h4 {
    font-family: "Inter medium", sans-serif;
    font-size: 24px;
}

.footer-icon > img {
    height: 50px;
    width: 50px;
}

.footer-icon > a > img {
    height: 50px;
    width: 50px;
}

.footer-right {
    padding: 25px;
    width: 50%;
    display: table-cell;
}

.footer-right-text {
    padding-left: 350px;
}

.footer-right-text > h3 {
    font-size: 28px;
    font-family: "Inter Semi Bold", sans-serif;
}

.footer-right-text > h4 {
    padding-top: 20px;
    font-size: 20px;
    font-family: "Inter medium", sans-serif;
}